server:
  port: 8101

spring:
  datasource:
    url: jdbc:mysql://blackbookdb.ce3tk7fr9nov.eu-central-1.rds.amazonaws.com:3306/blackbook?characterEncoding=utf-8
#    driverClassName: org.h2.Driver
    username: bbb_user
    password: bot0987654321
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
#        show_sql: true
#        format_sql: true
#        use_sql_comments: true
  output:
    ansi:
    enabled: DETECT

logging:
  level:
    org:
      hibernate:
#        type: trace

  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n"
  file: persistencebot.log

  jackson:
    serialization:
    write-dates-as-timestamps: false
